<p>user-dashboard works!</p>
<div class="dashboard">

  <div class="card-grid">

    <div class="card-box card1">
      <h4>Weekly Sales</h4>
      <h2>₹15,000</h2>
      <p>Increased by 60%</p>
    </div>

    <div class="card-box card2">
      <h4>Weekly Orders</h4>
      <h2>45,633</h2>
      <p>Decreased by 10%</p>
    </div>

    <div class="card-box card3">
      <h4>Visitors Online</h4>
      <h2>95,574</h2>
      <p>Increased by 5%</p>
    </div>

  </div>

  <div class="table-box">

    <h3>Recent Records</h3>

    <table class="table">

      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>Dipu Kumar</td>
          <td>Active</td>
          <td>Today</td>
        </tr>

        <tr>
          <td>Rahul</td>
          <td>Pending</td>
          <td>Today</td>
        </tr>

      </tbody>

    </table>

  </div>

</div>