<!-- Achievemient -->
<!-- <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Achievements</h6>
            <h1 class="mb-5">Achievements</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                
           <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/ceritificate1.jpg" class="popup-link">
          
            <img class="img-fluid" src="assets/images/ceritificate1.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                
           <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/ceritificate2.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/ceritificate2.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                
             <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/ceritificate2.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/ceritificate3.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              
               <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/ceritificate2.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/certificate6.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              
               <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/ceritificate2.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/certificate8.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
               
               <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/ceritificate2.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/certificate7.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>
            
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
               
             <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/ceritificate2.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/certificate5.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

             <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                
           <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/c1.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/c1.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                
           <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/c2.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/c2.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                
             <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/c3.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/c3.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              
               <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/c4.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/c4.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              
               <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/c5.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/c5.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
               
               <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/c6.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/c6.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>
            
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
               
             <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/c7.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/c7.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>
          

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                
             <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/c8.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/c8.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              
               <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/c9.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/c9.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              
               <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/c10.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/c10.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
               
               <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/c11.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/c11.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>
            
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
               
             <div class="team-item bg-light gallery-item">
    <div class="overflow-hidden">
        <a href="assets/images/c12.jpg" class="popup-link">
            <img class="img-fluid" src="assets/images/c12.jpg" alt="">
        </a>
    </div>
    <div class="text-center p-4">
                            <h5 class="mb-0">Certificate Name</h5>
                            <small>Year</small>
                        </div>
</div>
            </div>

        </div>
    </div>
</div> -->


<div class="container-xxl py-5">
  <div class="container">

    <div class="text-center mb-5">
      <h6 class="section-title text-primary">Achievements</h6>
      <h1>Achievements</h1>
    </div>

    <div class="row g-4">
      <div class="col-lg-3 col-md-6" *ngFor="let img of images; let i = index">
        
        <div class="team-item bg-light gallery-item">
          
          <div class="overflow-hidden">
            <img 
              class="img-fluid"
              [src]="img.src"
              (click)="openImage(i)"
              style="cursor:pointer"
            />
          </div>

          <div class="text-center p-3">
            <h6 class="mb-0">{{img.name}}</h6>
            <small>{{img.year}}</small>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<!-- POPUP -->
<div class="img-popup" *ngIf="selectedIndex !== -1" (click)="closeImage()">

  <!-- Close -->
  <span class="close-btn" (click)="closeImage()">&times;</span>

  <!-- Prev -->
  <span class="nav-btn prev" (click)="prevImage(); $event.stopPropagation()">❮</span>

  <!-- Image -->
  <img 
    [src]="images[selectedIndex].src"
    [class.zoomed]="zoom"
    (click)="toggleZoom(); $event.stopPropagation()"
  >

  <!-- Next -->
  <span class="nav-btn next" (click)="nextImage(); $event.stopPropagation()">❯</span>

</div>




