<div class="container-xxl py-5">
  <div class="container">
    <div class="course-wrapper d-flex">

      <!-- LEFT CATEGORY -->
      <div class="left-clm">
        <div class="list">
          <button 
            *ngFor="let cat of categories"
            (click)="selectCategory(cat.key)"
            [class.active]="selectedCategory === cat.key">
            {{ cat.name }}
          </button>
        </div>
      </div>

      <!-- RIGHT COURSES -->
      <div class="right-clm courses">

        <h2 class="mb-4 text-capitalize">
          {{ selectedCategory }} courses
        </h2>

        <div class="row">
          <div 
            class="col-lg-4 col-md-6 col-12"
            *ngFor="let course of filteredCourses | slice:0:showCount">

            <div class="single-course">

              <div class="course-head overlay">
                <img [src]="course.image" alt="">
                <a routerLink="/user" class="btn white primary">Register Now</a>
              </div>

              <div class="course-body">
                <div class="name-price">
                  <div class="teacher-info">
                    <img src="assets/images/author1.jpg">
                    <h4>{{ course.teacher }}</h4>
                  </div>
                  <span class="price">{{ course.price }}</span>
                </div>

                <h4 class="c-title">{{ course.title }}</h4>
              </div>

              <div class="course-meta">
                <div class="course-info">
                  <span>{{ course.students }}</span>
                  <span>{{ course.duration }}</span>
                  <span>{{ course.time }}</span>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- VIEW MORE -->
        <div class="text-center mt-4">
          <button 
            class="btn btn-primary"
            *ngIf="showCount < filteredCourses.length"
            (click)="showMore()">
            View More
          </button>
        </div>

      </div>

    </div>
  </div>
</div>