<!-- <p>footer works!</p>

<button  class="btn btn-blue w-25" (click)="gotologin()">Save</button>
     
<p>routerLink</p>
<p>ts<p>constructer import (class)</p> -->
<!-- Footer -->
    <footer class="footer section">
        <!-- Footer Top -->
        <div class="footer-top overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- About -->
                        <div class="single-widget about">
                            <h2>About eLEARNING</h2>
                            <ul class="list">
                                <li><i class="fa fa-phone"></i>Phone: +91 9608777626 </li>
                                <!-- <li><i class="fa fa-envelope"></i>Email: <a href="mailto:god.dipu@gmail.com">Info@youremail.com</a></li> -->
                                <li><i class="fa fa-envelope"></i>Email: <a href="mailto:god.dipu@gmail.com">Info&#64;youremail.com</a></li>
                                <li>  <i class="fa-solid fa-location-dot"></i>Address: Maner 801108</li>
                            </ul>
                            <!-- Social -->
                            <ul class="social">
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li ><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            </ul>
                            <!-- End Social -->
                        </div>
                        <!--/ End About -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Useful Links -->
                         <div class="single-widget opening-times">
                            <h2>Useful Links</h2>
                            <ul class="list">
                                <li><i class="fa fa-angle-right"></i><a href="#">Home</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="#">About Eduland</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="#">Our Courses</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="#">Upcoming Events</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="#">Faq's</a></li>
                            </ul>
                        </div> 
                     
                        <!--/ End Useful Links -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Useful Links -->
                        <div class="single-widget opening-times">
                            <h2>Opening Hourse</h2>
                            <ul class="list">
                                <li><span>Saturday - Sunday</span><div class="value">08am - 05pm</div></li>
                                <li><span>Monday - Tuesday</span><div class="value">08AM - 07PM</div></li>
                                <li><span>Wednesday</span><div class="value">10AM - 12PM</div></li>
                                <li><span>Thursday</span><div class="value">08AM - 05PM</div></li>
                                <li><span>Friday</span><div class="value off">closed</div></li>
                            </ul>
                        </div>
                        <!--/ End Useful Links -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Top -->
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                                   <!-- Copyright -->
                        <div class="copyright">
                            <p>© Copyright Eduland 2025. Design & Development by <a href="#">Dhirendera Kumar</a>, Theme Release By <a href="#">Dhirendra Kumar</a></p>
                        </div>
                        <!--/ End Copyright -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Bottom -->
    </footer>
    <!--/ End Footer -->

