<!-- <nav class="sidebar">
  <ul>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/courses">Courses</a></li>
    <li><a routerLink="/users">Users</a></li>
  </ul>
</nav> -->

 <!-- <nav class="sidebar sidebar-offcanvas">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/courses">
        <i class="mdi mdi-book menu-icon"></i>
        <span class="menu-title">Courses</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/users">
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">Users</span>
      </a>
    </li>
  </ul>
</nav>  -->

<!-- <div class="container-fluid page-body-wrapper">
     
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                 
                   <img src="assets/images/about1.jpg" alt="profile" class="d-block w-50">
                  <span class="login-status online"></span>
                 
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">Dhirendra kumar</span>
                  <span class="text-secondary text-small">Director</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Basic UI Elements</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                  </li>
                </ul>
              </div>
            </li>
          
          </ul>
        </nav>
       
      </div> -->
      <!-- page-body-wrapper ends -->


      <div class="sidebar">

  <!-- <div class="logo">
    Purple
  </div> -->
  <div class="logo">
                        <a routerLink="/home">
                      <img src="assets/images/BB_Logoo.jpg" class="logo-img" loading="eager" alt="">  
                      </a>
                    </div>

  <div class="profile">
    <img src="assets/images/about1.jpg" alt="">
    
    <div>
      <h4>Dhirendra Kumar</h4>
      <p>Director</p>
    </div>
  </div>

  <ul class="menu">
  <li routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/layout/dashboard"><i class="fa-solid fa-book-open"></i>Dashboard</a></li>
    
<li routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/layout/achievement"><i class="fa-solid fa-book-open"></i>Achievement</a></li>
   
<li routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/layout/profile"><i class="fa-solid fa-book-open"></i>Profile</a></li>
   
   <li routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/course"><i class="fa-solid fa-book-open"></i>Course</a></li>
   

  </ul>

</div>
