
<!-- npm install @mdi/font -->
<!-- <nav class="navbar">
  <div class="logo">Admin Panel</div>
  <div class="profile">Welcome Admin</div>
</nav> -->

<!-- <nav class="navbar default-layout-navbar fixed-top d-flex flex-row"> -->
  <!-- <nav class="navbar default-layout-navbar  d-flex flex-row">
  <div class="navbar-brand-wrapper d-flex align-items-center">
    <span class="text-white fw-bold">Admin Panel</span>
  </div>

  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <span class="text-white">Welcome Admin</span>
      </li>
    </ul>
  </div>
</nav> -->

<div class="navbar">

  <div class="title">
    Dashboard
  </div>

  <div class="right">
    Welcome Admin
  </div>

</div>











<!-- <nav class="navbar default-layout-navbar fixed-top d-flex flex-row">
  <div class="navbar-brand-wrapper">
    <span class="brand-logo text-white">Purple</span>
  </div>

  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <span class="text-dark">Welcome Admin</span>
      </li>
    </ul>
  </div>
</nav> -->