

<div *ngIf="showBreadcrumb" class="breadcrumbs overlay"
     style="background-image:url('/assets/images/breadcrumb-bg.jpg')">
     <!-- <h4>{{ pageTitle }}</h4> -->
<div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <h2>{{ pageTitle }}</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="bread-list">
                    <li>
                        <a routerLink="/home">
                            Home <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="active">
                        <span>{{ pageTitle }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

